  <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Sidebar</h3>
            <ul class="nav nav-list">
            <%if current_bus_owner || current_user%>
                <li><%= link_to "My Reservations",filtered_reservations_path("my_reservation") ,class:"btn-xl btn-default"%></li>
              <%if current_bus_owner%>
                <li><%= link_to "My Buses",filtered_buses_path("my_buses"),class:"btn-xl btn-default"%></li>
              <%end%>
                <li><%= link_to "Link3", "/path3"  %></li>
              <%end%>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->
